In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('../data_raw/ventas.csv')
df.head()

,ID_Venta,Fecha,ID_Cliente,ID_Producto,Cantidad,Método_Pago,Estado
0,919,31/01/2024,10,25,5,1,Completa
1,947,31/01/2024,106,5,1,4,Completa
2,1317,31/1/2024,235,25,3,3,Completa
3,1607,31/1/2024,114,15,5,1,Completa
4,2038,31/1/2024,132,2,5,4,Completa

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3029 entries, 0 to 3028
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Venta     3029 non-null   int64
 1   Fecha        3029 non-null   object
 2   ID_Cliente   3029 non-null   int64
 3   ID_Producto  3029 non-null   int64
 4   Cantidad     3029 non-null   int64
 5   Método_Pago  3029 non-null   int64
 6   Estado       3029 non-null   object
dtypes: int64(5), object(2)
memory usage: 165.8+ KB

In [20]:
df.describe()

          ID_Venta   ID_Cliente  ID_Producto     Cantidad  Método_Pago
count  3029.000000  3029.000000  3029.000000  3029.000000  3029.000000
mean   1492.663585   162.208320    19.675801     3.475404     3.359194
std     865.690540    94.276683    10.989542     1.702960     1.425749
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%     729.000000    79.000000    10.000000     2.000000     2.000000
50%    1486.000000   162.000000    20.000000     3.000000     4.000000
75%    2243.000000   243.000000    29.000000     5.000000     5.000000
max    3000.000000   326.000000    38.000000     6.000000     5.000000

In [ ]:
categorias = pd.read_csv('../data_raw/categorias.csv')
productos = pd.read_csv('../data_raw/productos.csv')
clientes = pd.read_csv('../data_raw/clientes.csv')

# Agregar a df la categoria de product desde productos
df = df.merge(productos[['ID_Producto', 'Categoría']], on='ID_Producto', how='left')

# Agregamos ID_Categoria desde categorias
df = df.merge(categorias[['Categoría', 'ID_Categoria']], on='Categoría', how='left')

# Agregamos Región desde clientes por ID_Cliente
df = df.merge(clientes[['ID_Cliente', 'Región']], on='ID_Cliente', how='left')

df = df.rename(columns={'Categoría': 'Categoria', 'Región': 'Region'})

df.head()

,ID_Venta,Fecha,ID_Cliente,ID_Producto,Cantidad,Método_Pago,Estado,Categoria,ID_Categoria_x,Región_x,Categoria,ID_Categoria_y,Región_y
0,919,31/01/2024,10,25,5,1,Completa,Congelados,5,Buenos Aires,Congelados,5,Buenos Aires
1,947,31/01/2024,106,5,1,4,Completa,Lácteos,1,NEA,Lácteos,1,NEA
2,1317,31/1/2024,235,25,3,3,Completa,Congelados,5,NEA,Congelados,5,NEA
3,1607,31/1/2024,114,15,5,1,Completa,Panadería,3,Centro,Panadería,3,Centro
4,2038,31/1/2024,132,2,5,4,Completa,Lácteos,1,Buenos Aires,Lácteos,1,Buenos Aires

In [ ]:
# Que categorias y zonas muestran picos estacionarios